{% extends 'base_admin.html' %}

{% block titulo %}SGAB - Pedidos{% endblock %}

{% block conteudo %}
  <div class="container">
    
    <h1><p class="text-center">CADASTRO DE LOTAÇÃO</p></h1>
        
    <div class="container mb-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#unidadeModal">
        <i class="bi bi-houses"></i>
        Cadastrar lotação
      </button>
      <!-- <a class="btn btn-success" href="">
        <i class="bi bi-filetype-pdf"></i>
        Relatório
      </a> -->
      <button type="button" class="btn btn-success" onclick="abrirPDF('/admin/unidades/relatorio')">
        <i class="bi bi-filetype-pdf"></i>
        Gerar relatório
      </button>
    </div>    
    
    <div class="container">
      <div class="table-responsive">
        <table id="tabela" class="table table-striped">
          <thead class="text-center">
            <tr class="text-center">
              <th width="8%">ID</th>
              <th>Nome</th>
              <th width="10%">Ativo</th>
              <th width="15%">Ações</th>
            </tr>
          </thead>
          <tbody>
            
            {% if lotacoes %}
              {% for lotacao in lotacoes: %}
                  <tr>            
                    <td>{{ lotacao.id }}</td>
                    <td>{{ lotacao.nome }}</td>

                    {% if lotacao.ativo == 1 %}
                      <td class="text-center"><i class="bi bi-check-circle"></i></td>
                    {% elif lotacao.ativo == 0 %}
                      <td class="text-center"><i class="bi bi-x-circle-fill"></i></td>
                    {% else %}
                      <td></td>
                    {% endif %}

                    <td>                                        
                      <div class="container">                          
                          <a class="btn btn-success btn-sm" href="{{ url_for('admin_bp.editar_lotacao', id=lotacao.id) }}"><i class="bi bi-pencil-square"></i></a>
                          <a class="btn btn-danger btn-sm" href="{{ url_for('admin_bp.excluir_lotacao', id=lotacao.id) }}" onclick="return confirm('Você tem certeza que deseja excluir esta lotação?');"><i class="bi bi-trash3-fill"></i></a>
                      </div>
                    </td> 
                  </tr>
              {% endfor %}  
            {% else %}
              <tr>
                <!-- <td class="text-center" colspan="6">Não existem Unidades de Saúde cadastradas</td> -->
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>  
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="unidadeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
    <div class="modal-dialog">
      
      <div class="modal-content">
        
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar unidade</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">

          <form action="{{ url_for('admin_bp.lotacao') }}" method="post">
            
            <div class="mb-3">
              <label for="nome" class="col-form-label">Nome:</label>
              <input type="text" name="nome" class="form-control" id="name">

              <label for="status" class="form-label">Ativo</label>
                <select class="form-select" name="ativo">
                    <option value="" selected>-</option>
                    <option value="true">Ativo</option>
                    <option value="false">Inativo</option>
                </select>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>

          </form>

        </div>
        
      </div>
    </div>
  </div> 
  
{% endblock %}