{% extends 'home/template_base.html' %}

{% block titulo %}SGAB - Pedidos{% endblock %}

{% block conteudo %}

<div class="container">
    <h1 class="mt-1"><p class="text-center">PEDIDOS REALIZADOS</p></h1>

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for categoria, mensagem in messages %}
                  <div class="alert alert-{{ categoria }}" role="alert">
                      {% if categoria == 'success' %}
                          <i class="bi bi-emoji-sunglasses-fill"></i>
                          <b>{{ mensagem }}</b>
                      {% else %}
                          <i class="bi bi-exclamation-triangle"></i>
                          <b>{{ mensagem }}</b>
                      {% endif %}
                  </div>   
              {% endfor %}                     
          {% endif %}
      {% endwith %}
    </div>

    <div class="container mb-1">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pedidosModal">
        <i class="bi bi-clipboard2-check"></i>
        Novo pedido
      </button>
    </div>

    <div class="container">
      <table id="tabela" class="table table-striped">
        <thead class="text-center">
          <tr>                      
            <th scope="col" width="10%">Data</th>                      
            <th scope="col">Descrição</th>            
            <th scope="col">Categoria</th>            
            <th scope="col">Qtde</th>                                    
            <th scope="col">Liberado</th>                                    
            <th scope="col" width="13%" >Solicitante</th>
            <th scope="col">Justificativa</th>                                                         
            <th scope="col">Status</th>            
            <th scope="col" width="10%">Ações</th>             
          </tr>
        </thead>
        <tbody>
          {% if pedidos != False %}
            {% for pedido in pedidos: %}         
              {% if pedido.solicitante == session['lotacao'] %} 
                <tr>                
                  <td> {{ pedido.data.strftime("%d/%m/%Y") }} </td>                            
                  <td> {{ pedido.descricao }} </td>                  
                  <td> {{ pedido.categoria }} </td>
                  <td class="text-center"> {{ pedido.quantidade }} </td>
                  
                  {% if pedido.quantidade_liberada == None %}
                    <td class="text-center"> - </td>
                  {% else %}
                    <td class="text-center"> {{ pedido.quantidade_liberada }} </td>
                  {% endif %}                  
                                    
                  <td name="justificativa"> {{ pedido.solicitante }} </td>
                  <td> {{ pedido.justificativa }} </td>                  
                    
                  {% if pedido.status == 0 %}
                    <td class="text-center"><b style="color: rgb(108, 151, 230);">Pendente</b></td>
                  {% elif pedido.status == 1 %}
                    <td class="text-center"><b style="color: rgb(5, 182, 5);">Concluído</b></td>
                  {% else %}
                    <td></td>
                  {% endif %}     
                  
                  <td>
                    {% if pedido.status == 0 %}
                      <a class="btn btn-success btn-sm" title="Editar" href=""><i class="bi bi-pencil-square"></i></a>
                      <a class="btn btn-danger btn-sm" title="Excluir" href=""><i class="bi bi-trash3-fill"></i></a>                      
                    {% elif pedido.status == 1 %}
                      <a class="btn btn-success btn-sm" title="Editar" href="" onclick="mensagem('Você não pode editar um pedido com status concluído')"><i class="bi bi-pencil-square"></i></a>
                      <a class="btn btn-danger btn-sm" title="Excluir" href="" onclick="mensagem('Você não pode excluir um pedido com status concluído')"><i class="bi bi-trash3-fill"></i></a>                                          
                    {% endif %}
                  </td>
                </tr>
              {% endif %}                     
            {% endfor %}
          {% else %}
            <tr>
              <td class="text-center" colspan="8">Não existem pedidos cadastrados</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>        
</div>
  
  <!-- Modal -->
<div class="modal fade" id="pedidosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">    
  <div class="modal-dialog modal-lg">    
    <div class="modal-content">      
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Fazer pedido</h1>        
      </div>      
      <div class="modal-body">
        <form action="{{ url_for('pedidos_bp.home') }}" method="post">          
          <div class="row mb-3 g-2">                
            <!-- Primeira linha -->
            <div class="col-12">
              <label id="categoria" for="categoria" class="form-label">Categoria</label>
              <select class="form-select" name="categoria" id="categoria" required>
                <option value="" selected></option>
                {% for categoria in categorias: %}
                  <option value="{{ categoria.categoria }}">{{ categoria.categoria }}</option>                  
                {% endfor %}                  
              </select>
            </div>
            <!-- FIM da primeira linha -->

            <!-- Segunda linha -->
            <div class="col-8">
              <label id="item" for="categoria" class="form-label">Itens</label>
              <select id="item" class="form-select" name="item" required>
                <option value="" selected></option>                
                <option value=""></option>
              </select>
            </div> 

            <div class="col-4">
              <label for="quantidade" class="form-label">Quantidade</label>
              <input type="number" class="form-control" id="quantidade" name="quantidade" required>
            </div>            
            <!-- FIM da segunda linha -->
            
            <!-- Terceira linha -->
            <div class="col-12">
              <label for="justificativa" class="form-label">Justificativa</label>
              <textarea class="form-control" id="justificativa" rows="3" name="justificativa"></textarea>
            </div>            
            <!-- FIM da terceira linha -->
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button> -->
            <button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i> Fazer pedido</button>
          </div>
        </form>
      </div>        
    </div>
  </div>
</div> 

<script src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock %}